langchain==0.2.2
langchain-core==0.2.2
langchain-community==0.2.2
ipywidgets==8.1.2
matplotlib==3.8.3
langchain-groq==0.1.6
langgraph==0.0.60
rich
streamlit==1.27.0
streamlit-option-menu==0.3.13
langchain-huggingface
huggingface-hub
# docarray==0.40.0